@import '~@fluentui/react/dist/sass/References.scss';

$formFondo : #073b3a66;
$inputFondo: #38263388;
$fondoCardCategoria: #6BBF59;
$textColor: #2C3C79;

$fonts: 'Segoe UI', 'Segoe UI Web (West European)', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;

*{
  font-family: $fonts;
}

.formTitle{
  margin: 10px auto 30px auto;
  font-size: large;
}

.monitoreoMercadoForm {
  display:flex;
  flex-direction: column;
  padding: 1em;
  margin: 5px;
  img{
    align-self: center;
  }
  Title1{
    color: $textColor;
  }
}